<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navbar.ejs') %>
  <div class="container">
    <div class="row">
      <%- include('../includes/menu.ejs') %>
      <div class="col-md-9">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Home
          </div>
          <div class="panel-body">
            <div class="row">
              <!-- <iframe width="1000" height="900"
                src="https://app.powerbi.com/view?r=eyJrIjoiYWYzYjUwZWItODBjOC00Mzc4LWExYWYtZDJmNmZhMmNlMWVhIiwidCI6IjViYzljMTUwLThmMTUtNGIyMC1iYmY5LWY5ZmQ0ZDgyZmQ1MCIsImMiOjEwfQ%3D%3D"
                frameborder="0" allowFullScreen="true"></iframe> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../includes/footer.ejs') %>